body {
    background-color: lightgray;
}

h1 {
    background-color: darkgray;
    border-bottom: 2px solid black;
    text-align: center;
    color: white;
}

.bodydiv {
    padding-right: 0;
    padding-left: 0;
}

.buttonsdiv {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}