body {
    background-color: lightgray;
    margin: 0;
}

#found {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.bodydiv {
    padding-right: 0;
    padding-left: 0;
}

.buttonsdiv {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

h1 {
    background-color: darkgray;
    border-bottom: 2px solid black;
    text-align: center;
    color: white;
}

#customershr {
    margin-top: -10px;
    margin-bottom: 5px;
    border-color: black;
}

#addhr {
    margin-top: 2px;
}

table {
    table-layout: fixed;
    width: 100%;
}

table th,
table td {
    width: auto;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

thead {
    background-color: darkgray;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#trlines {
    border-bottom: 2px solid black;
}