@charset "ISO-8859-1";

body {
    background: #dfdfdf;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: black;
    font-family: 'Segoe UI';
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

td {
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: bold;
}


.saveandclear {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
