body {
    background-color: lightgray;
}

h1 {
    background-color: darkgray;
    border-bottom: 2px solid black;
    text-align: center;
    color: white;
}

form {
    display: block;
    margin: 0 auto;
}

.formulario {
    display: block;
    width: 500px;
    margin: 0 auto;
}

label{
    font-weight: bold;
}

.buttonsdiv{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}